body {
	background-color: #000;
	background:url(imagensnovo/image.png);
}
.vitrinefont {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #000;
	text-align: center;
}
.avisoextra {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #e1e401;
	text-align: center;
}
.anuncie {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #e1e401;
}
.anunciepreço {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #e1e401;
}
.anuncieavisopreço {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	color: #e1e401;
}
.tagfont {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #e1e401;
	text-align: center;
}.indexwarning {
	font-family: Verdana, Geneva, sans-serif;
	color: #e1e401;
	font-size: 21px;
	text-align: center;
}
.newstext {
	font-family: Verdana, Geneva, sans-serif;
	color: #e1e401;
	font-size: 21px;
	text-align: center;
}
.textopagina {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #e1e401;
	font-size: 16px;
}
.hometext {
	font-family: Verdana, Geneva, sans-serif;
	color: #e1e401;
	font-size: 21px;
	text-align: center;
}
.tagindex {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #e1e401;
	text-align: center;
}
.menulat a:link{
font-family:Verdana, Geneva, sans-serif;
font-weight: bold;
font-size:21px;
color:#000000;
text-align:center;
text-decoration:none;
background:#e1e401;
padding:21px;
border-bottom:#000000 1px solid;
display:block;

}

.menulat a:visited{
font-family:Verdana, Geneva, sans-serif;
font-weight: bold;
font-size:21px;
color:#000000;
text-align:center;
text-decoration:none;
background:#e1e401;
padding:21px;
border-bottom:#000000 1px solid;
display:block;

}

.menulat a:active{
font-family:Verdana, Geneva, sans-serif;
font-weight: bold;
font-size:21px;
color:#000000;
text-align:center;
text-decoration:none;
background:#e1e401;
padding:21px;
border-bottom:#000000 1px solid;
display:block;

}

.menulat a:hover{
background:#666;
color:#fffff;
border-left:#000000;


}.typemodelname {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #e1e401;
	text-align: center;
}
.modeltabela1 {
	font-family: Verdana, Geneva, sans-serif;
	color: #e1e401;
	font-size: 21px;
	font-weight: bold;
}
.modeltabela2 {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	font-size: 21px;
	font-weight: bold;
}
.link {
    color: #e1e401;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	text-align: center;
	text-decoration: none;

}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #FFF;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
